<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSP02_ServeletBasic</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

 <servlet>
 	<servlet-name>helloServlet</servlet-name> <!-- 아래 서블릿 클래스이름을 이런식으로 부르겠다  -->
 	<servlet-class>com.lec.servlet.HelloServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>helloServlet</servlet-name>
 	<url-pattern>/hee</url-pattern> <!-- 매핑된 url 에  /hee 들어가면 helloServlet(com.lec.servlet.HelloServlet) 동작시키세요.  -->
 </servlet-mapping>   <!-- 요청될때마다 콘솔에 찍힘 -->



</web-app>

