footer{
    position: relative;
    width: 100%;
    background: #262626;
    text-align: center;
    margin: 0px 0px;
    /* height: 100%; */
}

ul.bottom_util{
    position: absolute;   /* 요놈 때문에..  얘를 relative로 주면 안되고, absoulte로 줘야 footer에 대해서 center가 적용된다.  */
    border-bottom: 1px solid #464646;
    width: 100%;
    padding: 16px 0;
}

ul.bottom_util li{
    display: inline-block;
    
    
}
ul.bottom_util li a{
    color: #818181;
    font-size: 13px;
    font-weight: 800;
    display: inline-block;
    padding: 15px 22px;
    /* background-color: lightgreen; */
}
ul.bottom_util li a:hover{
    cursor: pointer;   
}
ul.bottom_util li a em{
    color: #FFF;
    font-weight: 400;
    font-style: normal;
}


/* ccm  */
footer .bottom_ccm{
    /* background-color: limegreen; */
    width: 100%;
    position: relative;
    text-align: right;
}

.bottom_ccm span{
    /* background-color: lightyellow; */
    display: block;
    max-width: 450px;

    position: relative;
    left: 630px;
    top: 100px;
    margin: auto;
    text-align: right;

}
.bottom_ccm img{
    width: 170px;
    height: auto;
}

/* 로고 */
footer .bottom_logo{
    /* background-color: lightyellow; */
    margin: 41px 0 24px;
}

footer .bottom_logo img{
    /* position: absolute; */
    width: auto;
    height: auto;
    vertical-align: top;

    position: relative;
    left: 500px;
    margin-top: 20px;
}

/* 주소 */
.copy_info{
    width: 90%;
    max-width: 650px;
    margin: auto;
    margin-bottom: 14px;
    font-size: 12px;
    color: #6c6c6c;
    line-height: 1.7em;
    padding: 0px;
}

.copy_info span{
    display: inline-block;
    background-image: url("https://www.ediya.com/images/common/footer_line.gif") ;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 10px;
    padding-right: 10px;
}

footer .copy{
    padding-bottom: 50px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #6c6c6c;
}
