/* div */
.main_block02 {
    background-image: url("https://www.ediya.com/images/main/main_ani/block02_bg_ani.jpg");
    background-repeat: no-repeat;
    /* background-size: 100%; */
    width: 100%;
    height: 800px;
    position: relative;
    top: -20px;
    margin: 0px;

}

/* text */
h2#al {
    text-align: center;
    color: #3c3c3c;
    font-weight: 100;
    line-height: 1.1em;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 36px;
    padding-top: 63px;
}

#al em {
    font-style: normal;
    font-weight: 900;
    color: #243c86;
}

/* 가운데 선 */
.main_block02 h2:after {
    display: block;
    position: relative;
    content: "";
    width: 100px;
    height: 1px;
    background: #3c3c3c;
    margin: auto;
    margin-top: 51px;
}

.main_block02 h3 {
    position: relative;
    text-align: center;
    font-weight: 100;
    color: #3c3c3c;
    line-height: 1.4em;
    font-size: 22px;
    font-family: 'Noto Sans KR'
        , '나눔고딕', NanumGothic, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
}


/* 메뉴보기  */
.main_block02_btn{
    /* background-color: lightcoral; */
    text-align: center;
    margin-top: 80px;
}
.main_block02_btn a {
    border: solid 1px #5b768f;
    padding: 15px 60px;
    text-shadow: lightgray;
    font-size: 14px;
    font-weight: 700;
}

.main_block02_btn a:hover {
    background-color: #233e83;
    color: white;
}


/* 애니메이션 오브젝트들 */
.main_ani{
    height: 514px;
}

/* 왼쪽 아이들 */
.cheeseShake{
    float: left;
    position: relative;
    top: -70px;
}
.object01{
  /* background-color: lightcoral; */
  float: right;
}

/* 오른쪽 아이들 */
.chocolate{
    float: right;
    position: relative;
    top: -70px;
}
.object02{
  /* background-color: lightseagreen; */
  float: left;
}


/* 왼쪽 개별 아이들 */
.ani_mov1_1{
    position: relative;
    left: 200px;
    top: 30px;
}
.ani_mov1_2{
    position: relative;
    left: 210px;
    top: -80px;
}
.ani_mov1_3{
    position: relative;
    left: 180px;
    top: -180px;
}


/* 오른쪽 개별 아이들 */
.ani_mov2_1{
    position: relative;
    right: -350px;
    top: -55px;
}
.ani_mov2_2{
    position: relative;
    left: -240px;
    top: -220px;
}
.ani_mov2_3{
    position: relative;
    left: -60px;
}
.ani_mov2_4{
    position: relative;
    left: -50px;
    top: -60px;
}


/* float 해제 */
.clear{
    clear: both;
}


