.main_event_bn{
    position: fixed;
    bottom: 65px;
    right: 25px;
    width: 182px;
    z-index: 100;
    top: 170px;
    left: 150px;
}
.close_btn{
    position: absolute;
    left: 200px;
    top: -5px;
}