body {
    font-family: 'Nanum Gothic', sans-serif;
    width: 100%;
    height: 100%;
    background-color: white;
    min-width: 320px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #464646;
}
@font-face{
    font-size: 13px;
    font-weight: normal;
    font-family: 'Nanum Gothic', sans-serif;
}

.top_header {
    width: 100%;
    height: 120px;
    /* background-color: limegreen; */
    font-family: sans-serif;
    cursor: pointer;
}

.top_header ul li {
    list-style: none;

}

.top_header a {
    text-decoration: none;
    display: inline-block;
}

.site {
    /* background-color: lightgray; */
    width: 250px;
    height: 30px;
}

.site a {
    font-size: 11px;
    display: inline-block;
    /* background-color: lightyellow; */
    width: 90px;
    height: auto;
    text-align: center;
}

.site span {
    /* color: grey; */
    display: inline-block;
}

.logo {
    /* background-color: lightpink; */
    width: 230px;
    text-align: center;
    margin-left: 35px;
}



div.top_utill {
    /* background-color: lightblue; */
    font-size: 12px;
    width: 530px;
    position: relative;
    left: 65%;
    bottom: 100px;
}

.top_utill .members li {
    background-color: lightyellow;
    /* background: url(https://www.ediya.com/images/common/util_line.gif);
    background-repeat: no-repeat; */
    float: left;
    margin: 0px;
    padding-left: 5px;
    background: url("https://www.ediya.com/images/common/util_line.gif") no-repeat left;
    margin-left: 10px;
    padding-left: 10px;
}
.top_utill .members li:first-child{
    background: none;
}




.sns{
    float: right;
    margin-right: 15px;
    position: relative;
    float: right;
    margin-right: 15px;
    right: 130px;
    top: -13px;
}
.sns li{
    float: left;
    margin-left: 5px;
}
.sns li a{
    display: block;
    width: 30px;
    height: 30px;
}
.sns li:nth-child(1) a{
    background: url("https://www.ediya.com/images/common/top_sns01.gif") no-repeat;
}
.sns li:nth-child(2) a{
    background: url("https://www.ediya.com/images/common/top_sns02.gif") no-repeat;
}
.sns li:nth-child(3) a{
    background: url("https://www.ediya.com/images/common/top_sns03.gif") no-repeat;
}
.sns li:nth-child(4) a{
    background: url("https://www.ediya.com/images/common/top_sns04.gif") no-repeat;
}


#top_menu{
    background-color: lightyellow;
    width: 600px;
	float: right;
	margin: 50px 20px 0 0;
}
 
.top_menu ul li {
	float: left; /* 일렬로 나열 */ /* 컨테이너 안에 담겨있으므로 줄여도 아래로 내려오지 않음 */
	margin: 0 5px; /* 위아래 여백(첫번째), 좌우 여백(두번쨰) */
} 






